.interface {
  width: 320px;
  height: 85vh;
  background-color: #282828;

  border-radius: 30px;
  padding: 20px 30px;
  z-index: 2;

  user-select: none;

  .afterKeys {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .keys {
    width: 100%;
    padding: 20px 0 4px 0;
    display: flex;

    flex-wrap: wrap;

    button {
      margin: 4px auto;
    }
  }

  .display {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #63d16b;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .before {
      color: #949494;
    }

    .result {
      font-size: 9vmin;
      color: #ffffff;

      margin: 10px 0 0 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    span {
      width: 100%;
      text-align: right;
    }
  }
}
